.wrapper {
  margin: 0 auto;
  font-size: 1.6rem;
  background-color: rgba(53, 59, 72, 1);
}

nav {
  background-color: white;
  margin: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    display: flex;
    gap: 1.2em;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 2em;
    a {
      padding: 1em;
      display: block;
      text-decoration: none;
      color: #2d3436;
    }
    a:hover {
      color: orangered;
      background-color: rgba(246, 229, 141, 0.5);
      transition: color 300ms, background-color 1000ms;
    }
  }
}

header {
  background-color: #2f3640;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -50px;
  div {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    blockquote {
      font-size: 3.8rem;
      padding: 2em 0;
      margin: 0;
      text-align: right;
      opacity: 0;
      animation: build1 250ms ease-in-out;
      animation-fill-mode: forwards;
      @keyframes build1 {
        from {
          transform: translatex(-75px);
          opacity: 0;
        }
        to {
          opacity: 100;
        }
      }
      p {
        color: rgba(245, 246, 250, 0.7);
        line-height: 4.2rem;
        margin-bottom: 1em;
        &:first-child {
          font-size: 4.8rem;
        }
      }
      i {
        color: #d35400;
      }
      b {
        color: rgba(245, 246, 250, 0.8);
      }
    }
  }
  picture {
    float: right;
    height: 400px;
    clip-path: polygon(170px 0, 100% 0, 95% 100%, 70px 100%);
    shape-outside: polygon(170px 0, 100% 0, 100% 100%, 70px 100%);
    margin-left: 2em;
    animation: build 250ms ease-in-out;
    @keyframes build {
      from {
        transform: translatex(75px);
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
    .image {
      height: 100%;
      opacity: 0.9;
    }
  }
}

.about {
  background-color: rgba(241, 196, 15, 1);
  text-align: justify;
  clip-path: polygon(0 0, 100% 5%, 100% 90%, 0 100%);
  margin-bottom: -80px;
  padding-top: 5em;
  h2 {
    font-size: 3.4rem;
    text-align: center;
    color: rgba(245, 246, 250, 0.7);
    padding: 0.5em;
    background-color: black;
    max-width: 200px;
    clip-path: polygon(0 0, 100% 5px, 100% 100%, 5px 100%);
    transform: rotate(2deg);
    margin: 0 auto;
    animation: build1 350ms ease-in-out;
    @keyframes build1 {
      from {
        transform: scale(0.5);
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
  }
  p {
    transform: rotate(1deg);
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 1em;
    opacity: 0;
    animation: build2 450ms 450ms ease-in-out;
    animation-fill-mode: forwards;
    @keyframes build2 {
      from {
        transform: translateY(-100px);
        opacity: 0;
      }
      to {
        opacity: 100;
      }
    }
    b {
      font-weight: 100;
      border-radius: 4px;
      background-color: #353b48;
      color: rgba(245, 246, 250, 0.85);
      padding: 0.05em 0.2em;
    }
    i {
      font-weight: bold;
      font-style: normal;
    }
  }
}

article {
  padding: 2em 0;
}

section {
  max-width: 800px;
  padding: 1.6em;
  margin: 0 auto;
}

.careerTrajectory {
  padding-top: 100px;
  color: rgba(245, 246, 250, 0.9);
  background-color: rgba(243, 156, 18, 1);
  clip-path: polygon(0 5%, 100% 0, 100% 97%, 0 100%);
  h2 {
    text-align: center;
    color: rgba(245, 246, 250, 0.7);
    padding: 0.5em;
    background-color: black;
    max-width: 300px;
    clip-path: polygon(5px 0, 95% 5px, 95% 100%, 5px 95%);
    transform: rotate(-2deg);
    margin: 0 auto;
  }
  section {
    text-align: center;
    &:before {
      content: "🔼";
    }
  }
}

footer {
  padding: 3em;
  text-align: center;
  color: rgba(245, 246, 250, 0.9);
  font-size: 2.4rem;
  clip-path: polygon(10px 0, 95% 5px, 95% 100%, 5px 90%);
}
